 <ul><%= cosplay.category %></ul>
 <ul><%= cosplay.price %></ul>
 <ul><%= cosplay.size %></ul>
 <%= link_to "Show More", cosplay_path(cosplay)%>
<% end %>
<div class="container">
  <div class="cards">
    <% @cosplays.each do |cosplay| %>
      <div class="card card-grid">
      <div class="cosplay-image">
        <%= cl_image_tag cosplay.photo.key %>
      </div>
        <div class="card-body">
          <h4 class="card-title"><%= cosplay.name  %></h4>
          <p class="card-text"> Rs<%= cosplay.price%></p>
          <p class="card-text"><%= cosplay.category  %></p>
          <%= link_to "Show More", cosplay_path(cosplay), class: "btn btn-primary"%>
        </div>
      </div>

  </div>
</div>
