<h3>Create a new Costplay</h3>
<%= simple_form_for @cosplay do |f| %>
  <%= f.input :name %>
  <%= f.input :category, collection: ["Anime", "Films", "Halloween", "Games"] %>
  <%= f.input :price %>
  <%= f.input :size, collection: ["Small", "Medium", "Large", "X-Large", "2XL"] %>
  <%= f.input :photo, as: :file %>
  <%= f.button :submit %>
<% end %>
