<ul><%=@cosplay.name%>
<li><%=@cosplay.size%></li>
<li><%=@cosplay.category%></li>
<li><%=@cosplay.price%></li>
<li><%= cl_image_tag @cosplay.photo.key,class:'cosplay_image'%>
</ul>
<%= link_to "Delete cosplay",cosplay_path(@cosplay),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>

<%= link_to "Update Cosplay", edit_cosplay_path(@cosplay)%>

<%= link_to "book cosplay", new_cosplay_booking_path(@cosplay)%>
