<ul><%=@cosplay.name%>
<li><%=@cosplay.size%></li>
<li><%=@cosplay.category%></li>
<li><%=@cosplay.price%></li>
</ul>
<%= link_to "Delete cosplay",cosplay_path(@cosplay),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
<%# to add image url %>
