<ul><%=@cosplay.name%>
<li><%=@cosplay.size%></li>
<li><%=@cosplay.category%></li>
<li><%=@cosplay.price%></li>
</ul>
<%# to add image url %>
<%= link_to "book cosplay", new_cosplay_booking_path(@cosplay)%>
