<div class="card-products">
  <div>
    <%= cl_image_tag @cosplay.photo.key,class:'cosplay_image'%>

    <ul><%=@cosplay.name%>
      <li><%=@cosplay.size%></li>
      <li><%=@cosplay.category%></li>
      <li><%=@cosplay.price%></li>
    </ul>
    <li><%= cl_image_tag @cosplay.photo.key,class:'cosplay_image'%></li>

  </div>

  <div class="card-product-infos">
    <ul><%=@cosplay.name%>
      <li><%=@cosplay.size%></li>
      <li><%=@cosplay.category%></li>
      <li><%=@cosplay.price%></li>
    </ul>
  </div>
  <div class="btn_cos">
    <%= link_to "Delete cosplay",cosplay_path(@cosplay),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-primary" %>
    <%= link_to "Update Cosplay", edit_cosplay_path(@cosplay), class: "btn btn-primary" %>
    <%= link_to "book cosplay", new_cosplay_booking_path(@cosplay), class: "btn btn-primary" %>
  </div>
</div>
